.navbar__wrapper {
	width: 740px;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	@media only screen and (max-width: 768px) {
		display: none;
	}
	@media only screen and (min-width: 1150px) {
		width: 1000px;
	}
}

.navbar__list {
	margin: 0;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	list-style-type: none;
}

.navbar__item {
	flex-basis: 16.6%;
	text-align: center;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.5s ease;
	&:hover {
		background-color: rgba($violet, 0.6);
		a {
			color: #FFF;
		}
	}
	&:active {
		background-color: $violet;
		a {
			color: #FFF;
		}
	}
	a {
		text-transform: uppercase;
		color: $violet;
	}
}

.navbar__devider {
	margin: 0;
	border: 0.5px solid #C8BED2;
}