@large-devices : ~"(min-width: 1200px)";
@medium-devices : ~"(min-width: 992px)";
@tablets : ~"(min-width: 768px) and (max-width: 991px)";
@mobile : ~"(max-width: 767px)";
body {
  background-color: white; }

.header {
  height: 100vh;
  background-color: #fffff; }
